body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7; /* Warna latar belakang */
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

canvas {
    margin: 20px 0;
    background-color: white; /* Warna latar belakang canvas */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek bayangan */
}

button {
    background-color: #ff69b4;
    color: rgb(10, 2, 34);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #ff1493;
}
